body {
    --border-color: rgb(150, 150, 150);
}

h1, h2, h3 {
    font-family: "Minecraft Font";
}

section.summary {
    float: right;
    position: sticky;
    top: 56px;
    right: 0;

    height: 100%;
    width: 30%;
    z-index: 500;
    background-color: rgba(200,200,200);

    display: block;
}

section.summary span,
section.summary label {
    font-weight: bold;
}

section.summary > div {
    margin: 0 10%;
    padding: 10% 0;

    border-bottom: 2px solid var(--border-color);
}

div.subtotal,
div.c-entrega,
div.estimated-total {
    display: flex;
    justify-content: space-between;
}

div.promo-code {
    display: block;
}

div.promo-code label{
    font-size: 0.95rem;
    font-weight: bold;
}

div.promo-code form {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: 35px;
}

div.promo-code form input {
    width: 1px;
    flex: 5;

    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 5px;
}

div.promo-code form button {
    flex: 1;

    border: none;
    border-radius: 5px;
    background-color: black;

    color: white;

    font-weight: bold;
}

section > div.checkout-buttons {
    border: none;
}

div.checkout-buttons button{
    display: block;
    width: 100%;
    margin: 5px;

    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 2px 0 5px;

    background: url(../resources/mcbutton.png) no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

div.checkout-buttons button:hover{
    background-image: url(../resources/mcbutton-hover.png);
}

/* Devices smaller than md */
@media (max-width: 700px){
    body {
        display: block;
    }

    section.summary {
        position: static;
        width: 70%;
        margin: 0 15%;
        float: none;
    }
}

section.carrito {
    margin: 3%;
    margin-right: 33%;
}

div.carrito {
    padding: 20px 0;

    border: none;
    border-bottom: 2px solid var(--border-color);
}

div.carrito:last-child {
    border: none;
}

div.img > img {
    height: 100%;
    max-height: 200px;
    aspect-ratio: 1;
    align-items: center;
    vertical-align: middle;
}

div.info {
    position: relative;

    margin: 50px 0;
}

div.info > span {
    display: block;
}

div.info #cantidad {
    width: 50px;
    border-radius: 7px;
    border: 2px solid var(--border-color);
}

div.info #nombre {
    font-family: 'Minecraft Font';
    font-weight: bold;
    font-size: 1.25em;
}

div.info #descripcion {
    margin: 0;
    padding: 0;
}