div.pseudoheader {
    position: sticky;
    top: 55px;
    z-index: 900;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.wrapper {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    position: relative;

    --button-width: calc(100vw / 3 - 11px);
}

a.pseudoheader-item {
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow: visible;

    font-family: 'Minecraft font';
    font-size: clamp(1.3rem, 40%, 3rem);
    text-align: center;
    color: white;
}

div.pseudoheader-button {
    flex: 1;
    display: flex;
    align-content: center;

    position: relative;
}

.mc-button {
    background: url(../resources/mcbutton.png) no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 50px;
}

.mc-button:hover{
    background-image: url(../resources/mcbutton-hover.png);
}

.steve-indicator {
    height: 30px;
    width: 30px;

    position: absolute;
    top: calc(100% - 15px);
    left: calc(50% - 15px);
    z-index: 999;

    transition: 0.7s;
}

div.mc-button:nth-child(1).active ~ .steve-indicator {
    transform: translateX(calc((var(--button-width) + 5px) * -1));
}

div.mc-button:nth-child(2).active ~ .steve-indicator {
    transform: translateX(0);
}

div.mc-button:nth-child(3).active ~ .steve-indicator {
    transform: translateX(calc(var(--button-width) + 5px));
}
section ~ section {
    margin: 10px;
}

section.productos div.product {
    margin-top: 5px;
    margin-bottom: 5px;
}

section.productos img.card-img-top {
    margin: 12.5%;
    width: 75%;
}